{% import '_includes/forms' as forms %}

<fieldset class="fieldset">

    <legend class="h6">{{ 'Department Info'|t('cockpit') }}</legend>
    <div class="meta">
        <div class="field">
            <legend class="heading">
                {{ 'Address'|t('cockpit') }}
            </legend>

            <div class="input ltr">
                {%- if (element.address[0] ?? null) -%}
                    {{ element.address[0].addressLine1 }} - {{ element.address[0].addressLine2 }}<br/>
                    {{ element.address[0].postalCode }} {{ element.address[0].locality }}
                {%- else -%}
                    -
                {%- endif -%}
            </div>
        </div>
        <div class="field">
            <legend class="heading">
                {{ 'Email'|t('cockpit') }}
            </legend>

            <div class="input ltr">
                {{ forms.text({
                    id: 'email',
                    name: 'email',
                    value: element.email,
                    type: 'email',
                }) }}
            </div>
        </div>
        <div class="field">
            <legend class="heading">
                {{ 'Telephone'|t('cockpit') }}
            </legend>

            <div class="input ltr">
                {{ forms.text({
                    id: 'phone',
                    name: 'phone',
                    value: element.phone,
                    type: 'phone',
                }) }}
            </div>
        </div>
    </div>

    <legend class="h6">{{ 'Cockpit'|t('cockpit') }}</legend>
    <div class="meta">
        <div class="field">
            <legend class="heading">
                {{ 'ID'|t('cockpit') }}
            </legend>

            <div class="input ltr">
                {{ forms.text({
                    id: 'cockpitId',
                    name: 'cockpitId',
                    value: element.cockpitId,
                }) }}
            </div>
        </div>
    </div>
</fieldset>

<dl class="meta read-only">
    <div class="data">
        <dt class="heading">Reference</dt>
        <dd class="value">{{ element.reference ?? '-' }}</dd>
    </div>
</dl>
